@{
    ViewData["Title"] = "Home Page";
}


<article class="intro mb-5 px-5">
    <div class="ps-5 pb-5 mb-5 ms-3">
        <h1>FluidParty</h1>
        <p>Web-App Development</p>
    </div>
    <div class="hellocard text-center p-5">
        <h2 class="mb-5">Hello!</h2>
        <p class="pb-5 intro-descrtiption">We are a team of young, ambitious programmers who are passionate about creating high-quality and stylish web design. Our projects are not just websites, but carefully thought-out and technologically advanced solutions that help businesses realize their potential on the Internet. We are always looking for new ideas and non-standard approaches to make interfaces not only beautiful, but also convenient for users. Each of our projects is the result of teamwork, creativity and the desire for perfection. We are ready to bring your idea to life!</p>
        <div class="text-motion-wrapper mt-5">
            <p class="text-motion mb-0">AM I CURSED? AM I CURSED? AM I CURSED? AM I CURSED? AM I CURSED? AM I CURSED? </p>
            <p class="text-motion mb-0">AM I CURSED? AM I CURSED? AM I CURSED? AM I CURSED? AM I CURSED? AM I CURSED? </p>
        </div>
    </div>
</article>

<section class="container my-5 p-5"> 
    <div class="projects">
        <article class="card">            
            <div class="description p-3">
                <h2>German Beauty Salon</h2>
                <p>Complete order for a client from beauty sphere</p>
            </div>
            <img src="~/img/main/Beauty Salon.png" alt="Project Picture 1">
        </article> 
        <article class="card">            
            <div class="description p-3">
                <h2>Design of german salon krasoti</h2>
                <p>mamat kunem</p>
            </div>
            <img src="~/img/main/Beauty Salon.png" alt="Project Picture 2">
        </article>
    </div>
    <div class="members">
        <article class="card"> 
            <img src="~/img/main/Superfly.png" alt="Profile Picture 1">
            <h2>Dmitry Superfly</h2>
            <p>Design director</p>
        </article> 
        <article class="card"> 
            <img src="~/img/main/Superfly.png" alt="Profile Picture 2">
            <h2>Заголовок 3</h2>
            <p>Описание карточки 3</p> 
        </article> 
    </div> 
</section>

<section class="text-center my-5 py-5">
    <h2>How can you find us?</h2>
    <div class="options mx-5">
        <div class="option">
            <img src="~/img/main/at_icon.png" alt="At Icon" class="icon">
            <input type="text" value="suskorov@gmail.com" readonly>
        </div>
        <div class="option">
            <img src="~/img/main/tg_icon.png" alt="Tg Icon" class="icon">
            <input type="text" value="penis" readonly>
        </div>
        <div class="option">
            <img src="~/img/main/tt_icon.png" alt="TT Icon" class="icon">
            <input type="text" value="pickme" readonly>
        </div>
    </div>
</section>

