<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projectroom</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/projectroom.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="mb-5 p-5 mx-4">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light ps-1 pe-1 mb-5">
            <div class="container-fluid">
                <a class="navbar-brand me-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/header/hearticon.png" alt="Icon">
                </a>
                <a class="navbar-brand me-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/header/iicon.png" alt="Icon">
                </a>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer text-center">
        <p>&copy; all rights are copied
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
